@import "normalize";
@import "variables";

@mixin no-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: black;
    color: $color;
}

header {
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 21px;
    //text-transform: uppercase;
}

.button-group-outer {
    display: none; // Will be change by JavaScript
}

.button-group {
    display: flex;

    .button {
        text-decoration: none;
        width: 33.3%;
        display: block;
        text-align: center;

        svg {
            height: 100px;
            width: 54px;
        }

        polygon,
        path {
            fill: $color;
        }

        &:active {
            polygon,
            path {
                fill: $color-hover;
            }
        }
    }
}

.message-container {
    padding: 20px;
    text-align: center;

    @include no-select;
}

.service-list-container {
    padding: 10px 20px;
    background: $color-darker;

    ul {
        list-style: none;
        padding: 0;
    }

    .service {
        @include no-select;
        display: block;
        padding: 5px;
        cursor: pointer;

        &:hover {
            color: $color-darker;
            background: $color;
        }
    }

    li.active .service {
        color: $color-darker;
        background: $color;
    }
}